body {
  margin: 0;
}
#background {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(#000033,#003399);
  width: 100%;
  height: 100%;
}
img {
  width: 100px;
  height: auto;
}
#picture {
  position: relative;
  top: -50px;
  /*top: 20%;
  left: 45%;*/
}
#pradziosMygtukas {
  position: relative;
  /*width: 100px;*/
}
#pradziosMygtukas > input[type="button"] {
  border-radius: 12px;
  background: -webkit-linear-gradient(#004d00,#009900);
  border: 1px black;
  color: white;
  padding: 6px 20px;
}
#background > div > input[type="text"] {
  display: flex;
  padding: 5px;
}
#vardai {
  padding: 5px;
  margin: 45px;
}
