body {
  margin: 0;
}
h1 {
  color: white;
}
#background {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(#000033,#003399);
  width: 100%;
  height: 100%;
}
img {
  width: 100px;
  height: auto;
}
#picture {
  position: relative;
  top: -50px;
  /*top: 20%;
  left: 45%;*/
}
#pasirinkimoMygtukai {
  display: flex;
  flex-direction: column;
}
#pradziosMygtukas {
  position: relative;
  /*width: 100px;*/
}
#pradziosMygtukas > input[type="button"] {
  border-radius: 12px;
  background: -webkit-linear-gradient(#004d00,#009900);
  border: 1px black;
  color: white;
  padding: 6px 20px;
}
#background > div > input[type="text"] {
  display: flex;
  padding: 5px;
}
#vardai {
  padding: 5px;
  margin: 45px;
}
.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #093f80));
	background:-moz-linear-gradient(top, #7892c2 5%, #093f80 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #093f80 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #093f80 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #093f80 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #093f80 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#093f80',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin: 5px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #093f80), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #093f80 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #093f80 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #093f80 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #093f80 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #093f80 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#093f80', endColorstr='#7892c2',GradientType=0);
	background-color:#093f80;
}
.myButton:active {
	position:relative;
	top:1px;
}
table {
  color: white;
  border: 1px solid white;
  margin: 20px;
  border-spacing: 0px;
  border-collapse: collapse;
}
th {
  border: 1px solid white;
}
td {
  border: 1px solid white;
}
 /*.inputas {
   background: linear-gradient(135deg,#333380,#339966);
 }*/
#vardai > div > input[type="text"] {
  margin: 5px;
  border: 0px;
  background: linear-gradient(135deg,#333380,#339966);

}
